<head>
<title><%= defined?(TITLE) ? TITLE : 'Untitled' %></title>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<% if defined?(DESCRIPTION) -%>
<meta name="description" content="<%= DESCRIPTION %>" />
<% end -%>
<% if defined?(KEYWORDS) -%>
<meta name="keywords" content="<%= KEYWORDS %>" />
<% end -%>
<% if defined?(ICON) -%>
<link rel="shortcut icon" href="<%= ICON %>" type="image/x-icon" />
<% end -%>
<% if defined?(WIDTH) -%>
<meta name = "viewport" content = "width = <%= WIDTH %>"/>
<% end -%>
<meta name="robots" content="index, follow" />

<%= stylesheet_link_tag 'compiled/screen', :media => 'screen, projection' %>
<%= stylesheet_link_tag 'compiled/style', :media => 'screen, projection' %>
<%= stylesheet_link_tag 'compiled/print', :media => 'print' %>
<!--[if IE]><%= stylesheet_link_tag 'compiled/ie', :media => 'screen, projection' %><![endif]-->

<%= render :partial => 'layouts/layout_and_theme_stylesheets', :locals => { :layout => layout } %>

<%= render :partial => 'layouts/javascript_includes' %>
</head>